body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 4rem;
  justify-items: center;
  margin-top: 4rem;
}

header {
  display: grid;
  justify-items: center;
  gap: 4rem;
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
.navegador ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 1.3rem;
  margin: 0;
  padding: 0;
}

.navegador ul li {
  justify-self: center;
  list-style: none;
  background-color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 0.25rem;
}

.navegador ul li a {
  color: #000;
}

.navegador ul li:hover {
  outline: 0.125rem solid #e21;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 1000px;
}

.detalhes {
  background-color: #fff;
  padding: 2.5rem;
  text-align: right;
  position: relative;
  display: grid;
  gap: 1.3rem;
  align-content: center;
  justify-items: end;
}

.detalhes::after {
  content: "";
  display: inline-block;
  background-color: #e21;
  width: 4rem;
  height: 0.25rem;
  background: #e21;
  position: absolute;
  top: 1.8rem;
  right: -1.8rem;
}

.detalhes h1 {
  font-size: 2rem;
}

.detalhes a {
  background: #e21;
  padding: 1rem 1.8rem;
  border-radius: 0.25rem;
  color: #f7f7f7;
  text-transform: up;
}

.detalhes a:hover {
  background: #a10;
}

/* .detalhe {
  width: 4rem;
  height: 0.25rem;
  background: #e21;
  position: absolute;
  top: 1.8rem;
  right: -1.8rem;
} */
article h2 {
  font-size: 4rem;
  color: #c6c6c6;
  text-align: right;
  padding: 2.5rem;
  align-self: center;
  background-image: url(../img/onda.svg);
}

.vantagemdesc {
  background-color: #fff;
  padding: 2.5rem;
}

.infos {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.6rem 1.3rem;
  padding: 1.3rem;
  border-left: 0.25rem solid transparent;
}

.infos:hover {
  border-color: #e21;
}

.infos:nth-child(odd) {
  background-color: #f7f7f7;
}

.infos p {
  grid-column: 2;
}

p,
h1,
h2,
h3 {
  font-size: 1.3rem;
  margin: 0;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 2.5rem;
  box-sizing: border-box;
}

footer p {
  margin: 0;
}

@media (max-width: 555px) {
  body,
  html,
  header {
    max-width: 100%;
    margin: 0 0;
  }
  body {
    margin-top: 4rem;
  }

  article {
    max-width: 80%;
  }

  .detalhes {
    align-items: center;
    text-align: center;
  }

  .detalhes a {
    justify-self: center;
  }

  .detalhes::after {
    content: "";
    display: inline-block;
    background-color: #e21;
    width: 0.25rem;
    height: 2rem;
    background: #e21;
    position: absolute;
    top: 22.5rem;
    right: 14rem;
  }

  p,
  h1,
  h2,
  h3 {
    font-size: 1.8rem;
    text-align: center;
  }
}
